@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  font-family: 'InaiMathi';
  src: url("../fonts/InaiMathi.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  width: 100%;
}

/* Header */
.nav {
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
  padding: 0 2rem;
  font-family: 'Roboto', Courier, monospace;
  font-weight: 700;
  font-size: 1.125rem;
}

a,
a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}

.nav a,
#menu {
  align-self: center;
  text-decoration: none;
  color: #fff;
  margin: 1rem 0;
  list-style-type: none;
}

#headline-social-media {
  padding: 1rem 0 0;
}

.main-projects a {
  order: 0;
  padding: 0.5rem;
}

.nav nav a {
  padding-right: 0.5rem;
}

.works-lang li {
  border: 1px solid #8993a4;
  padding: 0.5rem;
}

.works-list li {
  background-color: rgba(255, 255, 255, 0.24);
  border: #e5e5e500;
}

.project-social-media li {
  border: 1px solid #fff;
  font-weight: 500;
  color: #fff;
  font-family: "Inter", sans-serif;
  background: rgba(255, 255, 255, 0.25);
  padding: 0.625rem;
}

#menu li {
  display: inline;
}

.hidden-nav {
  display: none;
}

.unhidden-img {
  display: unset;
}

/* Headline */
#headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 0 1.5rem;
  margin: 0;
  height: 42rem;
  background-image: url(../images/Background.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #1c1a19;
}

#headline div {
  padding-top: 7.5rem;
}

.works-item h1,
#headline h1 {
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #ff6b00;
  font-family: 'Crete Round', Courier, monospace;
  font-weight: 400;
  font-size: 3.5rem;
  text-align: left;
}

#headline h2 {
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #fff5e1;
  font-family: 'Roboto', Courier, monospace;
  font-size: 1.5rem;
  padding: 1rem 0;
}

#headline p {
  flex: none;
  order: 3;
  flex-grow: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.social-media,
.project-social-media {
  list-style-type: none;
  background: none;
  gap: 1em;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

img {
  height: 1rem;
  width: 1rem;
}

/* Projects */
#projects {
  border: 0;
  padding: 0 1.5rem;
  background: center;
  margin-bottom: 8rem;
}

#projects-section-1 {
  padding: 10rem 0 5rem;
}

#projects-title {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Crete Round', sans-serif;
  text-align: center;
}

#projects h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 0.5rem 2rem 0.5rem;
  margin: 1.5rem;
  border-bottom: 0.1rem solid;
}

#flex-projects {
  display: flex;
  flex-direction: column;
}

#flex-projects div img {
  width: 100%;
  height: auto;
}

#flex-projects h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
}

#works-hr {
  width: 100%;
  border: 1px solid #212121;
  margin-top: 2rem;
}

.center-img {
  margin-bottom: 1.5rem;
}

.lang-box {
  padding: 1rem 0;
}

.lang-box span {
  border: 0.2px solid;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

#lang-box {
  color: #fff;
}

#about-me h1 {
  color: #ff6b00;
  font-size: 4.5rem;
  font-weight: 400;
  font-family: "Crete Round", sans-serif;
  margin-top: 7.5rem;
}

#about-me button {
  padding: 1rem;
  margin: 2rem 0 12rem 0;
}

.flex-button,
.project-button {
  padding: 0.75rem;
  background-color: #ff6b00;
  color: #fff;
  font-weight: 700;
  border: 1px solid #ff6b00;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.05em;
}

.flex-button {
  width: inherit;
  margin-left: -1rem;
}

.project-heading {
  font-size: 2rem;
  font-family: 'Crete Round', sans-serif;
  color: #fff;
  font-weight: 400;
}

.project-par {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 400;
  padding-top: 0.75rem;
}

#about-me-div p {
  margin-top: 1.5rem;
  color: #f4f5f7;
  font-family: "Inter", sans-serif;
}

#flex-projects div p {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.project-detail {
  background-image: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../images/Placeholder.png);
  width: 20.4375rem;
  height: 24.125rem;
  padding: 8rem 1rem 0;
  margin: 2rem 0;
}

#last-item {
  margin-bottom: 5rem;
}

/* About myself */
.button {
  background-color: #f55a00;
  border: 0.2rem solid #f55a00;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #fff;
  color: #f55a00;
}

#about-me-div {
  background-color: #1c1a19;
  background-image: url("../images/about me.png");
  background-repeat: no-repeat;
  background-position: 100% 90%;
  padding: 1.5rem;
}

#last-list {
  padding-bottom: 7em;
}

/* Languages */
#about-me-lang {
  color: #fff;
  background-color: #1c1a19;
  margin-bottom: 10rem;
  padding-bottom: 10rem;
}

#about-me-lang div {
  justify-content: center;
}

#about-me-lang div div {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  gap: 0.5rem;
}

#about-me-lang div div img {
  order: 1;
}

#form h2 {
  font-size: 2rem;
  text-align: center;
  padding: 0 2rem 2rem;
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

#about-me-lang div div h2 {
  order: 2;
  font-family: "InaiMathi", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

#about-me-lang div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me-lang div ul li {
  font-weight: 400;
  font-size: 1.375rem;
  padding: 1rem 0;
  font-family: "Inter", sans-serif;
}

/* Form */
#form {
  font-weight: 900;
  font-family: 'Crimson Pro', sans-serif;
  border: 0;
  margin: 1rem;
}

#contact-form {
  text-align: left;
  border: 0;
  display: flex;
  flex-direction: column;
}

#email,
#name,
#firstname,
#lastname {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 0;
  border-bottom: 0.1rem solid;
  color: #979493;
  font-size: 1rem;
}

#firstname,
#lastname {
  display: none;
}

#message {
  border: 0;
  height: 7.125rem;
  width: 100%;
  background-color: #e5e5e5;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

#form-button {
  margin: auto;
}

#contact-social-form {
  padding-bottom: 1rem;
  margin: 0 7rem;
}

.form-social-media {
  padding: 0;
  margin-top: 5rem;
  color: #000;
}

#social-media-footer {
  margin-bottom: 1rem;
}

#social-media-footer hr {
  width: 30%;
  margin: 0 auto;
  border: 2px solid;
}

@media (min-width: 768px) {
  /* Head */
  .hidden-nav {
    display: inline;
  }

  .hidden-img {
    display: none;
  }

  /* Headline */
  #headline {
    flex-direction: inherit;
    align-items: center;
    background-image: url("../images/desktop-header.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  #headline div {
    order: 2;
    width: 35.375rem;
    padding-top: 0;
  }

  #headline h1 {
    font-size: 4.5rem;
  }

  #headline h2 {
    font-size: 2rem;
  }

  #headline p {
    font-size: 1.25rem;
  }

  #headline-social-media {
    order: 1;
    width: 10%;
    display: block;
    padding: 0;
  }

  .social-media {
    list-style-type: none;
    background: none;
    gap: 1em;
    padding: 0;
  }

  .social-media li {
    padding: 0.5rem;
  }

  .social-media li a {
    height: 2vh;
  }

  #headline img {
    order: 3;
    width: 44%;
    height: inherit;
  }

  /* Projects */
  #works-hr {
    width: 65%;
    margin: auto;
  }

  #projects-title {
    padding: 10rem 2rem 10rem;
    font-size: 2.5rem;
  }

  #flex-projects {
    flex-direction: row;
  }

  #projects-section-1 {
    order: 0;
    width: 100%;
    display: flex;
    padding: 0;
  }

  #projects-section-2 {
    padding-left: 2rem;
  }

  #projects-section-1 div {
    display: flex;
  }

  #projects {
    display: flex;
    flex-direction: column;
    padding: 0rem 8.8125rem 8.8125rem;
  }

  #flex-projects h2 {
    font-size: 2.5rem;
    padding: 0 0 1rem;
  }

  #flex-projects div p {
    font-size: 1.25rem;
    padding: 1.5rem 0;
  }

  .lang-box {
    padding-bottom: 2rem;
    display: flex;
  }

  .works-lang li {
    border: 0.05rem solid;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
  }

  .center-img {
    margin: 0;
  }

  #flex-projects div img {
    width: 42.75rem;
    height: 28rem;
  }

  #flex-projects div button {
    padding: 1rem;
    font-size: 1rem;
  }

  /* About me */
  #about-me ul {
    flex-direction: column;
    align-items: normal;
  }

  #about-me-div {
    background-image: url(../images/desktop-about-me.png);
    background-position: right;
    padding: 1rem 0rem 0 8.875rem;
  }

  #about-me-div p,
  #about-me h1 {
    width: 35.375rem;
  }

  #about-me-div p {
    font-size: 1.25rem;
  }

  #about-me button {
    margin: 2rem 0 8rem 0;
  }

  #about-me-div hr {
    width: 85%;
}

  /* Languages */
  #about-me-lang {
    display: flex;
    gap: 15rem;
    padding: 0 8.875rem 10rem;
  }

  #about-me-lang div {
    margin-top: 5rem;
  }

  #about-me-lang div ul {
    align-items: flex-start;
  }

  /* Form */
  #form {
    display: flex;
    gap: 2rem;
  }

  #form h2 {
    text-align: left;
    padding-left: 8.4375rem;
    font-size: 2.5rem;
    width: 28.4375rem;
  }

  #contact-form {
    display: unset;
    width: 59%;
  }

  #form-button {
    height: auto;
    width: auto;
  }

  #email {
    width: 100%;
    padding: 2rem;
  }

  #firstname,
  #lastname {
    width: 48%;
    display: inline;
    padding: 2rem;
  }

  #message {
    padding: 2rem;
  }

  #firstname {
    margin-right: 1rem;
  }

  #name {
    display: none;
  }

  #contact-social-form {
    width: 25%;
  }

  .flex-button {
    display: none;
  }

  #projects-section-3 {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 25% 25% 25%;
    height: 100%;
  }

  #last-item {
    margin-bottom: 2rem;
  }

  /* Social-media-footer */
  #social-media-footer hr {
    display: none;
  }

  /* Contact Social Media */
  #contact-social-form {
    display: flex;
    justify-content: center;
    width: unset;
  }
}
