/* General */
body {
  background: #1C1A19;
}

/* Typography */

/* Grid */
.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 3rem 7rem;
  gap: 1rem;
  /* position: absolute; */
  /* width: 20rem; */
}

h1 {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  color: #FF6B00;
}

h4 {
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5em;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;
}

p {
  flex: none;
  order: 2;
  flex-grow: 0;
  width: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
}

.social-media {
  display: flex;
  flex-direction: row;
  order: 3;
}
/* Header */


/* Footer */


/* Media Queries */

